@page "/event-details"

<PageTitle>Event Details</PageTitle>

<h1>Event Details</h1>

<p>This is the event details page. More information about the event will appear here.</p>

<div>
    <NavLink class="nav-link" href="/events">Back to events</NavLink>
</div>
<div>
    <NavLink class="nav-link" href="/registration">Go to registration</NavLink>
</div>
